{% extends 'admin/admin.html.twig' %}

{% block title %}Recipe index{% endblock %}

{% block body %}
<a class="btn btn-success" href="{{ url('admin.recipe.create') }}">Add</a>
<table class="table">
    <thead>
        <tr>
            <th>{{ knp_pagination_sortable(recipes, 'Id', 'r.id') }}</th>
            <th>Thumbnail</th>
            <th>{{ knp_pagination_sortable(recipes, 'Title', 'r.title') }}</th>
            <th>Category</th>
            <th>Author</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for recipe in recipes %}
    <tr>
        <td>{{ recipe.id }}</td>
        <td>
            {% if recipe.thumbnail is empty %}
                <p></p>
            {% else %}
                <img src="{{ vich_uploader_asset(recipe, 'thumbnailFile') }}" alt="{{ recipe.title }}" style="height: 50px;">
            {% endif %}
        </td>
        <td>
            <a href="{{ url('admin.recipe.edit', { id: recipe.id }) }}">{{ recipe.title }}</a>
        </td>
        <td>
            {{ recipe.category.name | default('') }}
        </td>
        <td>
            {{ recipe.user.username | default('') }}
        </td>
        <td>
            <div class="d-flex gap-2">
                <a class="btn btn-primary" href="{{ url('admin.recipe.edit', { id: recipe.getId() }) }}">Edit</a>
                <form action="{{ url('admin.recipe.delete', { id: recipe.getId() }) }}" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="d-flex">
    {# {% if currentPage > 1 %}
        <a class="btn btn-secondary" href="{{ path('admin.recipe.index', { page: currentPage - 1 }) }}">Previous</a>
    {% endif %}
    {% if currentPage < maxPages %}
        <a class="btn btn-secondary" href="{{ path('admin.recipe.index', { page: currentPage + 1 }) }}">Next</a>
    {% endif %} #}
    {{ knp_pagination_render(recipes) }}
</div>
{% endblock %}