{% extends 'admin/admin.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
<a class="btn btn-success" href="{{ url('admin.category.create') }}">Add</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Recettes</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for category in categories %}
    <tr>
        <td>
            {# <a href="{{ url('admin.category.edit', { id: category.id }) }}">{{ category.name }}</a> #}
            {{ category.name }}
        </td>
        <td>
            {{ category.count }}
        </td>
        <td>
            <div class="d-flex gap-2">
                <a class="btn btn-primary" href="{{ url('admin.category.edit', { id: category.id }) }}">Edit</a>
                <form action="{{ url('admin.category.delete', { id: category.id }) }}" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}